@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --CYAN-600: #4d96a9;
  --CYAN-300: #8fe3f9;
  --PURPLE-600: #855fb1;
  --PURPLE-300: #d9b8ff;
  --SLATE-900: #28283d;
  --SLATE-600: #87879d;
  --SLATE-300: #d1d1df;
  --WHITE: #fafafa;

  /* TYPOGRAPHY */
  --FF: "Red Hat Display", serif;
  --TEXT-PRESET-3-LS: 0.25rem;

  /* TYPOGRAPHY-DESKTOP */
  --TEXT-PRESET-1-DSK: 900 4rem/110% var(--FF);
  --TEXT-PRESET-2-DSK: 900 2.5rem/110% var(--FF);
  --TEXT-PRESET-3-DSK: 900 1rem/110% var(--FF);
  --TEXT-PRESET-4-DSK: 500 1.125rem/150% var(--FF);
  --TEXT-PRESET-5-DSK: 900 1rem/150% var(--FF);

  /* TYPOGRAPHY-TABLET */
  --TEXT-PRESET-1-TBT: 900 3rem/110% var(--FF);
  --TEXT-PRESET-2-TBT: 900 2.25rem/110% var(--FF);
  --TEXT-PRESET-3-TBT: 900 0.875rem/110% var(--FF);
  --TEXT-PRESET-4-TBT: 500 1rem/150% var(--FF);

  /* TYPOGRAPHY-MOBILE */
  --TEXT-PRESET-1-MOB: 900 2.5rem/110% var(--FF);
  --TEXT-PRESET-2-MOB: 900 2rem/110% var(--FF);
  --TEXT-PRESET-3-MOB: 900 0.75rem/110% var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--WHITE);
}

a:any-link {
  text-decoration: none;
}

/* MEET-HEADER */
.meet-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
  padding: 3rem 0rem 2rem;
  overflow-x: hidden;
  width: 100%;
}

.meet-header__nav {
  padding: 0rem 5rem;
}

.meet-header__logo img {
  max-width: 118px;
}

.meet-header-hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.meet-header-hero__mob-tab img {
  max-width: 433px;
}

.meet-header-hero__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.meet-header-hero__title {
  font: var(--TEXT-PRESET-1-MOB);
  color: var(--SLATE-900);
  max-width: 305px;
}

.meet-header-hero__description {
  font: var(--TEXT-PRESET-4-TBT);
  color: var(--SLATE-600);
  max-width: 305px;
}

.meet-header-hero__buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.meet-header-hero__button {
  padding: 1rem 2.5rem;
  color: var(--WHITE);
  font: var(--TEXT-PRESET-5-DSK);
  border-radius: 29px;
  display: block;
  height: 56px;
}

.meet-header-hero__button--primary {
  width: 193px;
  background-color: var(--CYAN-600);
}

.meet-header-hero__button--primary span {
  color: var(--CYAN-300);
  display: inline-block;
  margin-left: 0.25rem;
}

.meet-header-hero__button--secondary {
  width: 161px;
  background-color: var(--PURPLE-600);
}

/* MEET-MAIN */
.meet-main {
  display: flex;
  justify-content: center;
  padding: 7rem 2rem 4rem 2rem;
  width: 100%;
}

.meet-main-features {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
}

.section-marker {
  width: 56px;
  height: 56px;
  background-color: var(--WHITE);
  border: 1px solid var(--SLATE-300);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: relative;
  font: var(--TEXT-PRESET-5-DSK);
  color: var(--SLATE-600);
}

.section-marker::before {
  content: "";
  width: 1px;
  height: 80px;
  background-color: var(--SLATE-300);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}

.meet-main-features__image-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  min-width: 311px;
}

.meet-main-features__image {
  border-radius: 8px;
  overflow: hidden;
}

.meet-main-features__image img {
  max-width: 147.5px;
}

.meet-main-features__subtitle {
  font: var(--TEXT-PRESET-3-MOB);
  letter-spacing: var(--TEXT-PRESET-3-LS);
  color: var(--CYAN-600);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.meet-main-features__title {
  font: var(--TEXT-PRESET-2-MOB);
  color: var(--SLATE-900);
  max-width: 311px;
  margin-bottom: 32px;
}

.meet-main-features__description {
  font: var(--TEXT-PRESET-4-TBT);
  color: var(--SLATE-600);
  max-width: 311px;
}

/* MEET-FOOTER */
.meet-footer {
  width: 100%;
  height: 374px;
  padding: 4rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("./images/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6.75rem;
}

.meet-footer__overlay {
  position: absolute;
  width: 100%;
  height: 374px;
  background-color: var(--CYAN-600);
  opacity: 85%;
  top: 0;
  left: 0;
}

.section-marker-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 346px;
  z-index: 1;
}

.meet-footer__text-content {
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.meet-footer__title {
  font: var(--TEXT-PRESET-2-MOB);
  color: var(--WHITE);
  max-width: 311px;
}

.meet-footer__description {
  font: var(--TEXT-PRESET-4-TBT);
  color: var(--WHITE);
  max-width: 311px;
}

.meet-footer__button {
  width: 193px;
  background-color: var(--PURPLE-600);
  padding: 1rem 2.5rem;
  color: var(--WHITE);
  font: var(--TEXT-PRESET-5-DSK);
  border-radius: 29px;
  display: block;
  height: 56px;
}

.meet-footer__button span {
  color: var(--PURPLE-300);
  display: inline-block;
  margin-left: 0.25rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
  /* MEET-HEADER */
  .meet-header {
    padding: 3rem 0rem 4rem;
  }

  .meet-header-hero {
    gap: 4.5rem;
  }

  .meet-header-hero__mob-tab img {
    max-width: 820px;
  }

  .meet-header-hero__title {
    font: var(--TEXT-PRESET-1-TBT);
    max-width: 448.3px;
  }

  .meet-header-hero__description {
    max-width: 448.3px;
  }

  .meet-header-hero__buttons {
    flex-flow: row;
    gap: 17px;
  }

  /* MEET-MAIN */
  .meet-main {
    padding: 8.5rem 2rem 4rem 2rem;
  }

  .meet-main-features__image-group {
    gap: 1.5rem;
    min-width: 680px;
  }

  .meet-main-features__image img {
    max-width: 152px;
  }

  .meet-main-features__subtitle {
    font: var(--TEXT-PRESET-3-TBT);
  }

  .meet-main-features__title {
    font: var(--TEXT-PRESET-2-TBT);
    max-width: 455px;
  }

  .meet-main-features__description {
    max-width: 504px;
  }

  /* MEET-FOOTER */
  .meet-footer {
    height: 320px;
    background-image: url("./images/tablet/image-footer.jpg");
  }

  .meet-footer__overlay {
    height: 320px;
  }

  .section-marker-wrapper {
    bottom: 292px;
  }

  .meet-footer__title {
    font: var(--TEXT-PRESET-2-TBT);
    max-width: 504px;
  }

  .meet-footer__description {
    max-width: 504px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  /* MEET-HEADER */
  .meet-header {
    padding: 5rem 0rem 4rem;
  }

  .meet-header-hero {
    flex-flow: row;
    gap: 127.85px;
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .meet-header-hero__mob-tab {
    display: none;
  }

  .meet-header-hero__dsk-left,
  .meet-header-hero__dsk-right {
    display: block;
    position: absolute;
  }

  .meet-header-hero__dsk-left {
    left: -26px;
  }

  .meet-header-hero__dsk-right {
    right: -26px;
  }

  .meet-header-hero__dsk-left img,
  .meet-header-hero__dsk-right img {
    max-width: 394px;
  }

  .meet-header-hero__container {
    gap: 32px;
  }

  .meet-header-hero__title {
    font: var(--TEXT-PRESET-1-DSK);
    max-width: 448.3px;
  }

  .meet-header-hero__description {
    font: var(--TEXT-PRESET-4-DSK);
    max-width: 448.3px;
  }

  .meet-header-hero__buttons {
    flex-flow: row;
    gap: 1.0625rem;
  }

  .meet-header-hero__button--primary:hover,
  .meet-header-hero__button--primary:focus-visible {
    background-color: #71c0d4;
  }

  .meet-header-hero__button--secondary:hover,
  .meet-header-hero__button--secondary:focus-visible {
    background-color: #b18bdd;
  }

  /* MEET-MAIN */
  .meet-main {
    padding: 8.5rem 5rem 4.5rem 5rem;
  }

  .meet-main-features__image-group {
    gap: 2rem;
    min-width: 1120px;
  }

  .meet-main-features__image img {
    max-width: 256px;
  }

  .meet-main-features__subtitle {
    font: var(--TEXT-PRESET-3-DSK);
  }

  .meet-main-features__title {
    font: var(--TEXT-PRESET-2-DSK);
    max-width: 445px;
  }

  .meet-main-features__description {
    font: var(--TEXT-PRESET-4-DSK);
    max-width: 544px;
  }

  /* MEET-FOOTER */
  .meet-footer {
    height: 312px;
    padding: 7rem 80px;
    background-image: url("./images/desktop/image-footer.jpg");
  }

  .meet-footer__overlay {
    height: 312px;
  }

  .section-marker-wrapper {
    bottom: 284px;
  }

  .meet-footer__text-content {
    flex-flow: row;
    align-items: flex-start;
    gap: 4rem;
  }

  .meet-footer__title {
    font: var(--TEXT-PRESET-2-DSK);
    max-width: 445px;
    text-align: left;
  }

  .meet-footer__description {
    font: var(--TEXT-PRESET-4-DSK);
    max-width: 355px;
    text-align: left;
  }

  .meet-footer__button:hover,
  .meet-footer__button:focus-visible {
    background-color: #b18bdd;
  }
}
